.person-wrapper {
    margin-bottom: 2em;
}

.profile-pic {
    width: 100%;
    border-radius: 50%
}

.em em-point_down{
    display: inline;
}

.containerEverything{
    margin-top: 10%;
}

.colBio{
    margin-top: 5%;
}
#row1{
    margin-top:15%;
}
#gitIcon{
    margin-right: 10%;
    margin-left: 10%;
}